---

---


```
```

In [ ]:
%%bash
$ ls molecules

```
cubane.pdb    ethane.pdb    methane.pdb
octane.pdb    pentane.pdb   propane.pdb
```

In [ ]:
%%bash
$ cd molecules
$ wc cubane.pdb

```
20  156 1158 cubane.pdb
```

In [ ]:
%%bash
$ wc *.pdb

```
20  156  1158  cubane.pdb
12  84   622   ethane.pdb
9  57   422   methane.pdb
30  246  1828  octane.pdb
21  165  1226  pentane.pdb
15  111  825   propane.pdb
107  819  6081  total
```

In [ ]:
%%bash
$ wc -l *.pdb

```
20  cubane.pdb
12  ethane.pdb
9  methane.pdb
30  octane.pdb
21  pentane.pdb
15  propane.pdb
107  total
```

In [ ]:
%%bash
> $ wc -l

```
```

In [ ]:
%%bash
$ wc -l *.pdb > lengths.txt

```
```

In [ ]:
%%bash
$ ls lengths.txt

```
lengths.txt
```

In [ ]:
%%bash
$ cat lengths.txt

```
20  cubane.pdb
12  ethane.pdb
9  methane.pdb
30  octane.pdb
21  pentane.pdb
15  propane.pdb
107  total
```

```
> 10
> 2
> 19
> 22
> 6
```

```
> 10
> 19
> 2
> 22
> 6
```

```
> 2
> 6
> 10
> 19
> 22
```

In [ ]:
%%bash
$ sort -n lengths.txt

```
9  methane.pdb
12  ethane.pdb
15  propane.pdb
20  cubane.pdb
21  pentane.pdb
30  octane.pdb
107  total
```

In [ ]:
%%bash
$ sort -n lengths.txt > sorted-lengths.txt
$ head -n 1 sorted-lengths.txt

```
9  methane.pdb
```

In [ ]:
%%bash
> $ sort -n lengths.txt > lengths.txt

```
```

In [ ]:
%%bash
> $ echo The echo command prints text

```
> The echo command prints text
```

In [ ]:
%%bash
> $ echo hello > testfile01.txt

```
```

In [ ]:
%%bash
> $ echo hello >> testfile02.txt

```
```

In [ ]:
%%bash
> $ head -n 3 animals.txt > animals-subset.txt
> $ tail -n 2 animals.txt >> animals-subset.txt

```
```

In [ ]:
%%bash
$ sort -n lengths.txt | head -n 1

```
9  methane.pdb
```

In [ ]:
%%bash
$ wc -l *.pdb | sort -n

```
9 methane.pdb
12 ethane.pdb
15 propane.pdb
20 cubane.pdb
21 pentane.pdb
30 octane.pdb
107 total
```

In [ ]:
%%bash
$ wc -l *.pdb | sort -n | head -n 1

```
9  methane.pdb
```

```
> 2012-11-05,deer
> 2012-11-05,rabbit
> 2012-11-05,raccoon
> 2012-11-06,rabbit
> 2012-11-06,deer
> 2012-11-06,fox
> 2012-11-07,rabbit
> 2012-11-07,bear
```

In [ ]:
%%bash
> $ cat animals.txt | head -n 5 | tail -n 3 | sort -r > final.txt

```
```

In [ ]:
%%bash
> $ cut -d , -f 2 animals.txt

```
```

In [ ]:
%%bash
> deer
> rabbit
> raccoon
> rabbit
> deer
> fox
> rabbit
> bear

```
```

```
> 2012-11-05,deer
> 2012-11-05,rabbit
> 2012-11-05,raccoon
> 2012-11-06,rabbit
> ...
```

In [ ]:
%%bash
$ cd north-pacific-gyre/2012-07-03
$ wc -l *.txt

```
```

```
300 NENE01729A.txt
300 NENE01729B.txt
300 NENE01736A.txt
300 NENE01751A.txt
300 NENE01751B.txt
300 NENE01812A.txt
... ...
```

In [ ]:
%%bash
$ wc -l *.txt | sort -n | head -n 5

```
240 NENE02018B.txt
300 NENE01729A.txt
300 NENE01729B.txt
300 NENE01736A.txt
300 NENE01751A.txt
```

In [ ]:
%%bash
$ wc -l *.txt | sort -n | tail -n 5

```
300 NENE02040B.txt
300 NENE02040Z.txt
300 NENE02043A.txt
300 NENE02043B.txt
5040 total
```

In [ ]:
%%bash
$ ls *Z.txt