---

---

In [ ]:
%%bash

In [ ]:
%%bash

In [ ]:
%%bash

```
```

In [ ]:
%%bash
~~~
$ for x in basilisk.dat minotaur.dat unicorn.dat
> do
>     head -n 2 $x | tail -n 1
> done
~~~

```
```

In [ ]:
%%bash
~~~
$ for temperature in basilisk.dat minotaur.dat unicorn.dat
> do
>     head -n 2 $temperature | tail -n 1
> done
~~~

```
```

```
> ~~~
> cubane.pdb  ethane.pdb  methane.pdb  octane.pdb  pentane.pdb  propane.pdb
> ~~~
```

In [ ]:
%%bash
> ~~~
> $ for datafile in *.pdb
> > do
> >     ls *.pdb
> > done
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> $ for datafile in *.pdb
> > do
> >	ls $datafile
> > done
> ~~~

In [ ]:
%%bash

```
```

In [ ]:
%%bash
> ~~~
> $ for filename in c*
> > do
> >     ls $filename
> > done
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> $ for filename in *c*
> > do
> >     ls $filename
> > done
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> for alkanes in *.pdb
> do
>     echo $alkanes
>     cat $alkanes > alkanes.pdb
> done
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> for datafile in *.pdb
> do
>     cat $datafile >> all.pdb
> done
> ~~~

```
```

In [ ]:
%%bash
~~~
$ for filename in *.dat
> do
>     echo $filename
>     head -n 100 $filename | tail -n 20
> done
~~~

```
```

In [ ]:
%%bash
~~~
$ echo hello there
~~~

```
```

```
~~~
hello there
~~~
```

In [ ]:
%%bash
~~~
$ for filename in *.dat
> do
>     $filename
>     head -n 100 $filename | tail -n 20
> done
~~~

```
```

```
> ~~~
> red dragon.dat
> purple unicorn.dat
> ~~~
```

In [ ]:
%%bash
> ~~~
> $ for filename in "red dragon.dat" "purple unicorn.dat"
> > do
> >     head -n 100 "$filename" | tail -n 20
> > done
> ~~~

```
```

```
> ~~~
> head: cannot open ‘red dragon.dat’ for reading: No such file or directory
> head: cannot open ‘purple unicorn.dat’ for reading: No such file or directory
> ~~~
```

```
> ~~~
> head: cannot open ‘red’ for reading: No such file or directory
> head: cannot open ‘dragon.dat’ for reading: No such file or directory
> head: cannot open ‘purple’ for reading: No such file or directory
> CGGTACCGAA
> AAGGGTCGCG
> CAAGTGTTCC
> ...
> ~~~
```

In [ ]:
%%bash
~~~
$ cp *.dat original-*.dat
~~~

```
```

In [ ]:
%%bash
~~~
$ cp basilisk.dat minotaur.dat unicorn.dat original-*.dat
~~~

```
```

```
~~~
cp: target `original-*.dat' is not a directory
~~~
```

In [ ]:
%%bash
~~~
$ for filename in *.dat
> do
>     cp $filename original-$filename
> done
~~~

```
```

In [ ]:
%%bash
~~~
cp basilisk.dat original-basilisk.dat
~~~

```
```

In [ ]:
%%bash
~~~
cp minotaur.dat original-minotaur.dat
~~~

```
```

In [ ]:
%%bash
~~~
cp unicorn.dat original-unicorn.dat
~~~

```
```

In [ ]:
%%bash
~~~
$ cd north-pacific-gyre/2012-07-03
$ for datafile in NENE*A.txt NENE*B.txt
> do
>     echo $datafile
> done
~~~

```
~~~
NENE01729A.txt
NENE01729B.txt
NENE01736A.txt
...
NENE02043A.txt
NENE02043B.txt
~~~
```

In [ ]:
%%bash
~~~
$ for datafile in NENE*A.txt NENE*B.txt
> do
>     echo $datafile stats-$datafile
> done
~~~

```
~~~
NENE01729A.txt stats-NENE01729A.txt
NENE01729B.txt stats-NENE01729B.txt
NENE01736A.txt stats-NENE01736A.txt
...
NENE02043A.txt stats-NENE02043A.txt
NENE02043B.txt stats-NENE02043B.txt
~~~
```

In [ ]:
%%bash
~~~
$ for datafile in NENE*A.txt NENE*B.txt; do echo $datafile stats-$datafile; done
~~~

```
```

In [ ]:
%%bash
~~~
$ for datafile in NENE*A.txt NENE*B.txt; do bash goostats.sh $datafile stats-$datafile; done
~~~

```
```

In [ ]:
%%bash
~~~
$ for datafile in NENE*A.txt NENE*B.txt; do echo $datafile;
bash goostats.sh $datafile stats-$datafile; done
~~~

```
```

```
~~~
NENE01729A.txt
NENE01729B.txt
NENE01736A.txt
...
~~~
```

In [ ]:
%%bash
> ~~~
> $ history | tail -n 5
> ~~~

```
> ~~~
>   456  ls -l NENE0*.txt
>   457  rm stats-NENE01729B.txt.txt
>   458  bash goostats.sh NENE01729B.txt stats-NENE01729B.txt
>   459  ls -l NENE0*.txt
>   460  history
> ~~~
```

In [ ]:
%%bash
> ~~~
> $ for datafile in *.pdb
> > do
> >     cat $datafile >> all.pdb
> > done
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> # Version 1
> $ for datafile in *.pdb
> > do
> >     echo cat $datafile >> all.pdb
> > done
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> # Version 2
> $ for datafile in *.pdb
> > do
> >     echo "cat $datafile >> all.pdb"
> > done
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> $ for species in cubane ethane methane
> > do
> >     for temperature in 25 30 37 40
> >     do
> >         mkdir $species-$temperature
> >     done
> > done
> ~~~