---

---


```
```

In [ ]:
%%bash
~~~
$ cd molecules
$ nano middle.sh
~~~

```
```

In [ ]:
%%bash
~~~
head -n 15 octane.pdb | tail -n 5
~~~

```
```

In [ ]:
%%bash
~~~
$ bash middle.sh
~~~

```
~~~
ATOM      9  H           1      -4.502   0.681   0.785  1.00  0.00
ATOM     10  H           1      -5.254  -0.243  -0.537  1.00  0.00
ATOM     11  H           1      -4.357   1.252  -0.895  1.00  0.00
ATOM     12  H           1      -3.009  -0.741  -1.467  1.00  0.00
ATOM     13  H           1      -3.172  -1.337   0.206  1.00  0.00
~~~
```

In [ ]:
%%bash
~~~
$ nano middle.sh
~~~

```
```

```
~~~
head -n 15 "$1" | tail -n 5
~~~
```

In [ ]:
%%bash
~~~
$ bash middle.sh octane.pdb
~~~

```
~~~
ATOM      9  H           1      -4.502   0.681   0.785  1.00  0.00
ATOM     10  H           1      -5.254  -0.243  -0.537  1.00  0.00
ATOM     11  H           1      -4.357   1.252  -0.895  1.00  0.00
ATOM     12  H           1      -3.009  -0.741  -1.467  1.00  0.00
ATOM     13  H           1      -3.172  -1.337   0.206  1.00  0.00
~~~
```

In [ ]:
%%bash
~~~
$ bash middle.sh pentane.pdb
~~~

```
~~~
ATOM      9  H           1       1.324   0.350  -1.332  1.00  0.00
ATOM     10  H           1       1.271   1.378   0.122  1.00  0.00
ATOM     11  H           1      -0.074  -0.384   1.288  1.00  0.00
ATOM     12  H           1      -0.048  -1.362  -0.205  1.00  0.00
ATOM     13  H           1      -1.183   0.500  -1.412  1.00  0.00
~~~
```

In [ ]:
%%bash
~~~
$ nano middle.sh
~~~

```
~~~
head -n "$2" "$1" | tail -n "$3"
~~~
```

In [ ]:
%%bash
~~~
$ bash middle.sh pentane.pdb 15 5
~~~

```
~~~
ATOM      9  H           1       1.324   0.350  -1.332  1.00  0.00
ATOM     10  H           1       1.271   1.378   0.122  1.00  0.00
ATOM     11  H           1      -0.074  -0.384   1.288  1.00  0.00
ATOM     12  H           1      -0.048  -1.362  -0.205  1.00  0.00
ATOM     13  H           1      -1.183   0.500  -1.412  1.00  0.00
~~~
```

In [ ]:
%%bash
~~~
$ bash middle.sh pentane.pdb 20 5
~~~

```
~~~
ATOM     14  H           1      -1.259   1.420   0.112  1.00  0.00
ATOM     15  H           1      -2.608  -0.407   1.130  1.00  0.00
ATOM     16  H           1      -2.540  -1.303  -0.404  1.00  0.00
ATOM     17  H           1      -3.393   0.254  -0.321  1.00  0.00
TER      18              1
~~~
```

In [ ]:
%%bash
~~~
$ nano middle.sh
~~~

```
~~~
# Select lines from the middle of a file.
# Usage: bash middle.sh filename end_line num_lines
head -n "$2" "$1" | tail -n "$3"
~~~
```

In [ ]:
%%bash
~~~
$ wc -l *.pdb | sort -n
~~~

```
```

In [ ]:
%%bash
~~~
$ nano sorted.sh
~~~

```
~~~
# Sort files by their length.
# Usage: bash sorted.sh one_or_more_filenames
wc -l "$@" | sort -n
~~~
```

In [ ]:
%%bash
~~~
$ bash sorted.sh *.pdb ../creatures/*.dat
~~~

```
~~~
9 methane.pdb
12 ethane.pdb
15 propane.pdb
20 cubane.pdb
21 pentane.pdb
30 octane.pdb
163 ../creatures/basilisk.dat
163 ../creatures/minotaur.dat
163 ../creatures/unicorn.dat
596 total
~~~
```

In [ ]:
%%bash
> ~~~
> 2013-11-05,deer,5
> 2013-11-05,rabbit,22
> 2013-11-05,raccoon,7
> 2013-11-06,rabbit,19
> 2013-11-06,deer,2
> 2013-11-06,fox,1
> 2013-11-07,rabbit,18
> 2013-11-07,bear,1
> ~~~

```
```

In [ ]:
%%bash
~~~
$ history | tail -n 5 > redo-figure-3.sh
~~~

```
```

```
~~~
297 bash goostats.sh NENE01729B.txt stats-NENE01729B.txt
298 bash goodiff.sh stats-NENE01729B.txt /data/validated/01729.txt > 01729-differences.txt
299 cut -d ',' -f 2-3 01729-differences.txt > 01729-time-series.txt
300 ygraph --format scatter --color bw --borders none 01729-time-series.txt figure-3.png
301 history | tail -n 5 > redo-figure-3.sh
~~~
```

In [ ]:
%%bash
> ~~~
> $ history | tail -n 5 > recent.sh
> ~~~

In [ ]:
%%bash

```
```

In [ ]:
%%bash
~~~
# Calculate stats for data files.
for datafile in "$@"
do
echo $datafile
bash goostats.sh $datafile stats-$datafile
done
~~~

```
```

In [ ]:
%%bash
~~~
$ bash do-stats.sh NENE*A.txt NENE*B.txt
~~~

```
```

In [ ]:
%%bash
~~~
$ bash do-stats.sh NENE*A.txt NENE*B.txt | wc -l
~~~

```
```

In [ ]:
%%bash
~~~
# Calculate stats for Site A and Site B data files.
for datafile in NENE*A.txt NENE*B.txt
do
echo $datafile
bash goostats.sh $datafile stats-$datafile
done
~~~

```
```

In [ ]:
%%bash
> ~~~
> head -n $2 $1
> tail -n $3 $1
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> bash script.sh '*.pdb' 1 1
> ~~~

In [ ]:
%%bash

```
```

In [ ]:
%%bash
> ~~~
> $ bash longest.sh shell-lesson-data/exercise-data/proteins pdb
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> $ bash longest.sh shell-lesson-data/exercise-data/writing txt
> ~~~

In [ ]:
%%bash

```
```

In [ ]:
%%bash
> ~~~
> # Script 1
> echo *.*
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> # Script 2
> for filename in $1 $2 $3
> do
>     cat $filename
> done
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> # Script 3
> echo $@.pdb
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> # Calculate stats for data files.
> for datafile in "$@"
> do
>     echo $datfile
>     bash goostats.sh $datafile stats-$datafile
> done
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> $ bash do-errors.sh NENE*A.txt NENE*B.txt
> ~~~

```
```

In [ ]:
%%bash
> ~~~
> bash -x do-errors.sh NENE*A.txt NENE*B.txt
> ~~~